body {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*min-height: 100vh;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

main {
    width: 100%;
    min-width: 400px;
    background: #fff;
    margin: 0;
    /*padding: 0px 20px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 5px 55px 50px -20px #b6b6b6;*/
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

label{
    margin-bottom: 0;
}

.input-menu{
    margin-left: 0px;
    margin-right: 10px;
}

.fa{
    font-size: 20px;
}

.icon{
    min-width: 33px;
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    /*background-color: #80bdff;*/
    margin-left: 5px;
    margin-right: 5px;
}

.btn{
    /*background-color:transparent;*/
    width: fit-content;
}

.icon-img{
    width: 22px !important;
    height: 22px !important;
    /*background-color: #80bdff;*/
    margin: auto;
}

.icon-text{
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    /*vertical-align: bottom;*/
    margin: auto;
    /*max-width: 65px;*/
}

.toolbar{
    position:fixed;
    width: 100%;
    padding: 2px 4px;
    top: 0px;
    left: 0px;
    border: 2px solid rgb(215, 215, 215);
    /*border-radius: 5px;*/
    background-color: #eee;
    /*box-shadow: 0px 5px 20px -10px ;*/
    display: flex;
    align-items: stretch;
    margin-bottom: 5px;

    z-index: 100;
}

.main-toolbar{
    flex: 1 0;
}

.right-toolbar{
    flex: 40px 0 1;
    margin-top: auto;
}

.toolbar-row{
    display: flex;
    flex: 1 100%;
    min-height: 40px;
    max-height: 45px;
    align-items: center;
    padding-bottom: 2px;
    padding-top: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.toolbar-ul{
    display: flex;
}
.toolbar-ul li {
    cursor: default;
}

/*.toolbar-row{*/
    /*border-bottom: 1px solid darkgray;*/
/*}*/

/*.toolbar-row li:hover :not(#dsDescription){*/
    /*color: rgba(85,172,238 ,1);*/
/*}*/
/*.toolbar-ul li:not(:last-child):not(#dsDescription) {*/
    /*margin-right: 10px;*/
/*}*/
.toolbar-ul li > button {
    font-size: 0.8em;
    border: 0;
    cursor: pointer;
}


.ds-group{
    width: 580px;
}

#dsDescription{
    width: 300px;
}

.node-group{
    width: 750px;
}

.filter-info-group{
    width: 220px;
}


.filter-group{
    width: 150px;
}
.color-group{
    width: 360px;
}
.interaction-group{
     width: 70px;
 }

.node-zoom-group{
    width: 353px;
}

.ts-zoom-group{
    width: 350px;
    /*vertical-align: center;*/
}

.ts-slide-group{
    width: 350px;
}

.slider-group-zoom {
    margin-left: 4px;
    margin-right: 4px;
    width: 180px;
}

.slider-group-zoom .icon-text{
    margin-top: 12px;
}

#node-decrease{
    margin-top: 6px;
}
#node-increase{
    margin-top: 6px;
}
#ts-decrease{
    margin-top: 6px;
}
#ts-increase{
    margin-top: 6px;
}
#zoom-fit-node{
    text-align: left;
}
#zoom-fit-ts{
    text-align: left;
}

/*.new-icon-group:not(:last-child){*/
    /*margin-right: auto;*/
/*}*/
/*.new-icon-group:not(:first-child){*/
    /*margin-left: auto;*/
/*}*/

#orderSelect{
    max-width: 100px;
}

#orderEdgesSelect{
    max-width: 100px;
}

#visCanvas{
    position: fixed;
    width: 100%;
    bottom: 0px;
    top: 160px;
    left: 0px;
    rigth: 0px;
    margin: 4px;
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}

#workspace{
    position: absolute;
    width: 100%;
    height: 100%;
}

#visScroll {
    /*position: fixed;*/
    bottom: 0px;
    left: 0px;
    rigth: 0px;
    /*top: 160px;*/
    pointer-events: none;
    z-index: 4;
}

#horizontal{
    position: absolute;
}

#visScrollHor{
    height: 20px;
    position: fixed;
    bottom:0%;
    left: 0%;
    right: 20px;
    pointer-events:all;
    border: 1px solid #0f0f0f;
    /*height: 100%;*/
}

#visScrollVert{
    position: fixed;
    width: 20px;
    top: 160px;
    bottom: 20px;
    right: 0%;
    border: 1px solid #0f0f0f;

    /*background-color: #393838;*/
    /*opacity: 1;*/
    pointer-events:all;
}

#vertical{
    position: absolute;
}

.ttip {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    visibility: hidden;
    position: absolute;
    top:0px;
    right: 0px;
    padding:8px;
    display: inline-block;

    width: fit-content;
    max-width: 400px;
    text-align: left;
    /*opacity: 0.6;*/
    background: rgba(255, 255, 255, .7);

    border-radius: 5px;


    z-index: 2;
    pointer-events: none;

    font-weight: lighter;
    font-size: 18px;

    /*text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;*/


    /*border: solid #4cae4c thin; */
    /*background-color: #eeeeee;*/
}

.ttip .ttiptext{
    visibility: hidden;
    width: 100px;
    /*color: #fff;*/
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    pointer-events: none;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.ttip:hover .ttiptext {
    visibility: visible;
    opacity: 1;
}

#btn-toolbar-visibility{
    padding: 0;
    vertical-align: bottom;
    border: 0;
    float: right;
}

.toolbar-toogle{
    height: 24px;
    width: 24px;
    float: right;
}

.toolbar-visible {
    background: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjYXJldC11cCIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNhcmV0LXVwIGZhLXctMTAiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzIwIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMjg4LjY2MiAzNTJIMzEuMzM4Yy0xNy44MTggMC0yNi43NDEtMjEuNTQzLTE0LjE0Mi0zNC4xNDJsMTI4LjY2Mi0xMjguNjYyYzcuODEtNy44MSAyMC40NzQtNy44MSAyOC4yODQgMGwxMjguNjYyIDEyOC42NjJjMTIuNiAxMi41OTkgMy42NzYgMzQuMTQyLTE0LjE0MiAzNC4xNDJ6Ij48L3BhdGg+PC9zdmc+) no-repeat center;

    -webkit-text-fill-color: #5c5c5c;
    fill: #5c5c5c;
}

.toolbar-hidden {
    background: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjYXJldC1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2FyZXQtZG93biBmYS13LTEwIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMyMCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTMxLjMgMTkyaDI1Ny4zYzE3LjggMCAyNi43IDIxLjUgMTQuMSAzNC4xTDE3NC4xIDM1NC44Yy03LjggNy44LTIwLjUgNy44LTI4LjMgMEwxNy4yIDIyNi4xQzQuNiAyMTMuNSAxMy41IDE5MiAzMS4zIDE5MnoiPjwvcGF0aD48L3N2Zz4=) no-repeat center;

    -webkit-text-fill-color: #5c5c5c;
    fill: #5c5c5c;
}

#selectFile{
    /*position: relative;*/
    float: left;
    max-width: 150px;
}

.btn {
    padding: 3px;
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.modal-lg {
    max-width: 60% !important;
}

#divCommunityLegend{
    font-family: 'Open Sans Condensed', sans-serif;

    /*min-width: 150px;*/
    /*min-width: 15%;*/
    position: absolute;
    top: 180px;
    left: 40%;
    max-height: 90% ;
    background-color: rgba(200, 200, 200, .6) ;
    border-radius: 8px;
    padding: 6px;
    display: none;
    margin-bottom: 6px;
    /*width: auto;*/
    flex-direction: column;
    flex-wrap: nowrap;
    resize: both;
    overflow: auto;

}
.resizeHandle{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 10px;
    height: 10px;
    background-color: #5c5c5c;
}
.legendCom{
    display: flex;
    margin: 2px;
    align-items: center;
}

.legendTitle{
    margin-bottom: 4px;
    width: 95%;
    cursor: move;
    font-weight: bold;
}

.oneline{
    display: inline;
}

/* div contenente elenco bibliografico*/
.nodeinfo{
    visibility: hidden;
    position: fixed;
    top:165px;
    right: 2%;
    padding:8px;
    width: 20%;
    height: 530px;
    bottom: 25px;
    text-align: left;
    border-width: 2px;
    border-color:#CCCCCC;
    border-style: groove;
/*    pointer-events: none;*/
}

#horizontalline{
    width: 100%;
    height: 1px;
    background-color:black;
    border-bottom:1px solid #3f3f3f;
}
.statisticsSel{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    z-index: 4;
    pointer-events: none;
}
.statisticsSelMenu{
    pointer-events: all;
}

/* contiene descrizione del singolo edge*/
#info{
    cursor: pointer;
    height: 70px;
    overflow: hidden;
   /* text-overflow: ellipsis;
    white-space: nowrap;*/
}

/*div che contiene div nodeinfo e icona per il download*/
#containerbib:hover{
    background-color: #F8F8FF;
}

#divcontainer{
    position: absolute;
    height:100%;
    width: 97%;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
   /* padding-bottom: 25%;
*/
}

/* sideNav css */

.sideNav{
    position: fixed;
    top: 0px;
    right: -25%;
    z-index: 10;
    width: 25%;
    height: 100%;
    transition: 1s;
    background-color:rgb(238,238,238);opacity:1;
}

.sideNav-toolbar-visible{
    position: relative;
    top: 150px;
    text-align: left;
}

.sideNav-toolbar-hidden{
    position: relative;
    top: 50px;
    text-align: left;
}

.sideNav-toolbar-visible > h3 {
    text-align: center;
}

.sideNav-toolbar-hidden > h3 {
    text-align: center;
}


#sideNavClose {
    text-align: right;
    font-size: 25px;
    margin-right: 5px;
}