

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    display: inline-block;
    /*margin-left: 6px;*/
    /*margin-right: 6px;*/
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #969696, 0px 0px 1px #a3a3a3;
    background: rgba(200, 200, 200, 0.78);
    border-radius: 14px;
    border: 0px solid #cdcdcd;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.5px 1.5px 1.5px #1e7e34, 0px 0px 1.5px #1e7e34;
    border: 0.3px solid #c8c8c8;
    height: 22px;
    width: 12px;
    border-radius: 8px;
    background: #1e7e34;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(238, 238, 238, 0.78);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #969696, 0px 0px 1px #a3a3a3;
    background: rgba(200, 200, 200, 0.78);
    border-radius: 14px;
    border: 0px solid #cdcdcd;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.5px 1.5px 1.5px #323232, 0px 0px 1.5px #3f3f3f;
    border: 0.3px solid #c8c8c8;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(162, 162, 162, 0.78);
    border: 0px solid #cdcdcd;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #969696, 0px 0px 1px #a3a3a3;
}
input[type=range]::-ms-fill-upper {
    background: rgba(200, 200, 200, 0.78);
    border: 0px solid #cdcdcd;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #969696, 0px 0px 1px #a3a3a3;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.5px 1.5px 1.5px #323232, 0px 0px 1.5px #3f3f3f;
    border: 0.3px solid #c8c8c8;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 8px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(200, 200, 200, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(238, 238, 238, 0.78);
}
