/* Range Slider css */
@import "http://propeller.in/components/range-slider/css/nouislider.min.css";

/*Propeller textfield css*/
@import "http://propeller.in/components/textfield/css/textfield.css";

/*Propeller checkbox css*/
@import "http://propeller.in/components/checkbox/css/checkbox.css";

/*Propeller Range Slider css*/
@import "http://propeller.in/components/range-slider/css/range-slider.css";

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 4px;
}

h1, p {
    color: #333;
}

.instructions{
    max-width: 1100px;
}

#participant{
    max-width: 600px;
}
#task-answer{
    max-width: 1000px;
}
.toogle-instructions{
    font-size: 16pt !important;
}




.main-container{
    display: flex;
    /*align-content: space-between;*/
    /*justify-content: space-between;*/
}
.line-break {
    width: 100%;
}
.toolbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon-c{
    width: 48px;
    /*margin: 2px;*/
}

.sidebar {
    width: 50px;
    /*position: fixed;*/
    /*top: 150px;*/
    /*bottom: 0;*/
    /*z-index: 100; !* Behind the navbar *!*/
    padding: 108px 0 0; /* Height of navbar */
}
.new-icon-group{
    width: 100%;
    /*border-bottom: 1px solid #cdcdcd;*/
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);

    /*border-right: 10px;*/
}

/*.sidebar-sticky {*/
/*position: relative;*/
/*top: 50px;*/
/*height: calc(100vh - 48px);*/
/*padding-top: .5rem;*/
/*overflow-x: hidden;*/
/*overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
/*}*/

/*@supports ((position: -webkit-sticky) or (position: sticky)) {*/
/*.sidebar-sticky {*/
/*position: -webkit-sticky;*/
/*position: sticky;*/
/*}*/
/*}*/

/*.sidebar .nav-link {*/
/*font-weight: 500;*/
/*color: #333;*/
/*}*/

/*.sidebar .nav-link .feather {*/
/*margin-right: 4px;*/
/*color: #999;*/
/*}*/

/*.sidebar .nav-link.active {*/
/*color: #007bff;*/
/*}*/

/*.sidebar .nav-link:hover .feather,*/
/*.sidebar .nav-link.active .feather {*/
/*color: inherit;*/
/*}*/

/*.sidebar-heading {*/
/*font-size: .75rem;*/
/*text-transform: uppercase;*/
/*}*/

#linearNodeVis_id {
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
}

#sample_text_id {
    font-size: 24pt;
    text-align: center;
    margin-top: 140px;
    -webkit-user-select: none;
    user-select: none;
}

.usefulButtons {
    left: 2px;
    background-color: white;
    border: thin solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding:5px;
    position: relative;
    float: left;
    margin-top: 0;
}

#usefulButtons label {
    text-align: left;
    margin-bottom: 5px;;
}

.usefulButton{
    position: relative;
    float: left;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
    background-color: #eeeeee;
    border: thin solid #eeeeee;
}

.usefulButton:hover {
    background-color: yellow;
}

.usefulButtonReleased{
    border-right-color: #333333;
    border-bottom-color: #333333;
}

.usefulButtonPressed{
    background-color: orange;
    border-left-color: #333333;
    border-top-color: #333333;
}

.usefulButtonPressed:hover {
    background-color: yellow;
}

#theme{
}

#selectTheme{
    position: relative;
    float: left;
    width: 150px;
    height: 160px;
}

#settings{
    margin-right: 5px;
    padding: 10px;
    width: 200px;
    height: 225px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    position: relative;
    float: left;
}


#datafile{

}

#selectFile{
    position: relative;
    float: left;
    width: 150px;
    height: 160px;
}

#datafiles{
    margin-right: 5px;
    padding: 10px;
    width: 200px;
    height: 225px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    position: relative;
    float: left;
}

#workspace{
    border: 1px solid lightgray;
    background-color: white;
    cursor: move;
}

/*#overlay.dragging-h{*/
    /*cursor: crosshair;*/
/*}*/

/*#overlay.dragging-v{*/
    /*cursor: crosshair;*/
/*}*/

/********************************************/
/* iconbar menu */
.icon-bar {
    width: 50%;
    text-align: center;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    width: 20%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

.btn{
    /*padding-left: 6px;*/
    /*padding-right: 6px;*/
}

/********************************************/
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* tooltip */
.width_hundred{
    visibility: visible;
    width: 100%;
}
.width_eighty{
    visibility: visible;
    width: 80%;
}
.width_twenty{
    visibility: visible;
    width: 20%;
}
.width_zero{
    visibility: collapse;
}

.ttip {
    position: absolute;
    top:0px;
    right: 0px;
    padding:5px;
    display: inline-block;
    width: 20%;
    text-align: left;
    /*opacity: 0.6;*/

    z-index: 2;
    pointer-events: none;

    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    font-size: 18px;

    /*border: solid #4cae4c thin; */
    /*background-color: #eeeeee;*/
}

.ttip .ttiptext{
    visibility: hidden;
    width: 100px;
    /*color: #fff;*/
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    pointer-events: none;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.ttip:hover .ttiptext {
    visibility: visible;
    opacity: 1;
}

.vcenter {
    height: 32px;
    line-height: 32px;
}

.vcenter input, .vcenter span{
    display: inline-flex;
    vertical-align: middle;
}

#minusButton
{
    float:left;
}

#plusButton
{
    float:left;
}

#zoomContainer
{
    margin: 0px;
    text-align: center;
}
#slider
{
    float:left;
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.slideNodeLink {
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.pmd-range-slider.noUi-target{
    margin: 20px 0 6px;
    height: 8.4px;
}
.pmd-range-slider .noUi-pips .noUi-marker-horizontal {
    background:#000;
    height:7px;
    margin-top: 10px;
}

.slideNodeLink {
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

main{
    width: 100%;
}

#timeSliderContainer{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 24px;
    /*float: left;*/
}

#timeSliderLabels{
    position: relative;
}

.tsLabel{
    position: absolute;
    top: 3px;
}

.btn-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0px!important;
}

.input-group {
    margin-top: 10px;
    height: 40px;
}

.btn-group{
    margin-top: 10px;
}

.btn {
    height: 40px;
    /*width: 40px;*/
    /*height: 45px;*/
}

.btn-toolbar {
    padding-left: 6px;
    padding-right: 6px;
}

.btn-toolbar {
    width: 100%;
}

.tooltip_btn {
    font-size: 9px;
    text-align: center;
}

.content {
    float:left;
}
